<%= form_with(model: phrase) do |form| %>
  <div class="field is-horizontal">
    <div class="field-label is-small">
      <%= form.label :value %><br>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.text_field(:value, class: "input is-small") %>
          <% phrase.errors.full_messages_for(:value).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-small">
      <%= form.label :pinyin %><br>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.text_field(:pinyin, class: "input is-small") %><br>
          <% phrase.errors.full_messages_for(:pinyin).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-small">
      <%= form.label :english_translation %><br>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.text_field(:english_translation, class: "input is-small") %><br>
          <% phrase.errors.full_messages_for(:english_translation).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-small">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body is-small">
      <div class="field">
        <div class="control">
          <%= form.submit(class: "button is-success is-small") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
