<%= turbo_frame_tag "phrases" do %>
  <%= render @phrases %>
<%= turbo_stream_from "phrases" %>
<% end %>

<br />

<div class="box">
  <%= turbo_frame_tag "new_phrase_form" do %>
    <%= link_to "Create new phrase", new_phrase_path, class: "button is-success" %>
  <% end %>
</div>
