<%= turbo_frame_tag "characters" do %>
  <%= render @characters %>
<%= turbo_stream_from "characters" %>
<% end %>

<br />

<div class="box">
  <%= turbo_frame_tag "new_character_form" do %>
    <%= link_to "Create new character", new_character_path, class: "button is-success" %>
  <% end %>
</div>
