<h1><%= @character.value %></h1>

<%= @character.pinyin %>
<%= @character.english_translation %>

<ul>
  <li><%= link_to "Edit", edit_character_path(@character) %></li>
  <li><%= link_to "Destroy", character_path(@character), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>
