<%= form_with(model: [:admin, phrase]) do |form| %>
  <div>
    <%= form.label :value %><br>
    <%= form.text_field :value %>
    <% phrase.errors.full_messages_for(:value).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :pinyin %><br>
    <%= form.text_field :pinyin %><br>
    <% phrase.errors.full_messages_for(:pinyin).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :english_translation %><br>
    <%= form.text_field :english_translation %><br>
    <% phrase.errors.full_messages_for(:english_translation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br />
  <div>
    <%= form.submit %>
  </div>
<% end %>
