<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hanzi SRS</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_tags %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <footer>
      <div class="content has-text-centered">
        <strong>HanziSRS</strong> by <a href="https://royzwambag.nl" target="_blank">Roy Zwambag</a>
      </div>
    </footer>
  </body>
</html>
